.input-file svg {
  display: none;
}

.input-file {
  background-color: #fcf8e8;
  padding: 16px;
  border-radius: 8px;
  font-weight: bold;
}
.input-file label {
  height: 200px;
  border: 2px dashed #94b49f;
}
.drop-zone span {
  padding: 10px;
}
