.form {
  border-style: none;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
}

.form-content {
  width: 60%;
  min-height: 655px;
  margin-inline: auto;
  margin-top: 30px;
}
.form-footer {
  width: 60%;
  margin-inline: auto;
  margin-top: 30px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
}

.contract {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 190px;
}
.detail-contract {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox {
  display: flex;
  align-items: center;
}
